openapi: 3.2.0
info:
  title: Creatio Odata API
  version: '2026-10-04'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-10-04: 4 operation(s) read from 3 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Creatio has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 0
    documentation: 4
    pages-with-code: 0
    pages-read: 3
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-10-04'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://academy.creatio.com/docs/developer/integrations_and_api/data_services/odata
  - https://academy.creatio.com/docs/developer/integrations_and_api/data_services/odata/overview
  - https://academy.creatio.com/docs/developer/application_components/static_content_bundling
servers:
- url: http://mycreatio.com
tags:
- name: Odata
paths:
  /0/odata/{odataid}:
    post:
      operationId: post_0_odata_odataid
      tags:
      - Odata
      summary: OData | Creatio Academy
      description: Add a new contact to the Contact collection.
      x-source: https://academy.creatio.com/docs/developer/integrations_and_api/data_services/odata
      parameters:
      - name: odataid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Post0OdataOdataidRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post0OdataOdataidResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at odataId
components:
  schemas:
    Post0OdataOdataidResponse:
      type: object
      properties:
        Id:
          type: string
        Name:
          type: string
    Post0OdataOdataidRequest:
      type: object
      properties:
        Name:
          type: string
          description: Contact name
      required:
      - Name
