openapi: 3.2.0
info:
  title: Creatio Clear Bundles API
  version: '2026-10-04'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-10-04: 4 operation(s) read from 3 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Creatio has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 0
    documentation: 4
    pages-with-code: 0
    pages-read: 3
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-10-04'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://academy.creatio.com/docs/developer/integrations_and_api/data_services/odata
  - https://academy.creatio.com/docs/developer/integrations_and_api/data_services/odata/overview
  - https://academy.creatio.com/docs/developer/application_components/static_content_bundling
servers:
- url: http://mycreatio.com
tags:
- name: Clear Bundles
paths:
  /clear-bundles:
    post:
      operationId: post_clear_bundles
      tags:
      - Clear Bundles
      summary: Disables generation of minified bundled files and removes bundled files.
      x-source: https://academy.creatio.com/docs/developer/application_components/static_content_bundling
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostClearBundlesRequest'
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
components:
  schemas:
    PostClearBundlesRequest:
      type: object
      properties:
        Content Path:
          type: string
          description: Path to the directory that contains the static content.
        Output Path:
          type: string
          description: Path to the directory that stores the files generated by the bundling service, for example, bundle files.
        Force:
          type: string
          description: Flag that specifies whether to remove bundle files. Default false.
      required:
      - Content Path
      - Output Path
